{% extends '../base.html' %}
{% block title %}
RESET PASSWORD
{% endblock title %}
{% block content %}
<div class="row pb-4">
    <div class="col">
        <h1><パスワードの再設定></h1>
    </div>
</div>
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="inputPassword" class="form-label">新しいパスワード</label>
        <input type="password" class="form-control" id="inputPassword" name="new_password" required>
    </div>
    <div class="mb-3">
        <label for="inputConfirmPassword" class="form-label">確認</label>
        <input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="displayCheck">
        <label class="form-check-label" for="displayCheck">パスワード表示</label>
    </div>
    <button type="submit" class="btn btn-primary">設定</button>
</form>
{% endblock content %}
{% block script %}
{% load static %}
<script type="text/javascript" src="{% static 'js/incampus.js' %}"></script>
<script>
    displayPassword();
</script>
{% endblock script %}