{% extends './admin_base.html' %}
{% block title %}
ADMIN LOGIN
{% endblock title %}
{% block content %}
<div class="row pb-4">
    <div class="col">
        <h1><ログイン></h1>
    </div>
</div>
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="admin_id" class="form-label">管理者ID</label>
        <input class="form-control" type='text' name="admin_id" required>
    </div>
    <div class="mb-3">
        <label for="password">パスワード</label>
        <input class="form-control" type="password" name="password" id="inputPassword" required>
        </div>
    <div class="mb-4 form-check">
        <input type="checkbox" class="form-check-input" id="displayCheck">
        <label class="form-check-label" for="displayCheck">パスワード表示</label>
    </div>
    <button type='submit' class="btn btn-primary">ログイン</button>
</form>
{% endblock %}
{% block script %}
{% load static %}
<script type="text/javascript" src="{% static 'js/incampus.js' %}"></script>
<script>
    displayPassword();
</script>
{% endblock script %}